<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Pitbulk\Antireplay\Api\AssertionInterface" type="Pitbulk\Antireplay\Model\AssertionRepository" />
    <preference for="Pitbulk\Antireplay\Api\Data\AssertionInterface" type="Pitbulk\Antireplay\Model\Assertion" />
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="saml_antireplay" xsi:type="object">Pitbulk\Antireplay\Console\Command\CleanStoredAssertions</item>
            </argument>
        </arguments>
    </type>
</config>
